# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: CheckOnPremRunner

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    #runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: echo "Running on my on-prem runner"
