
name: SelfRunnerCheck

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - run: echo "Running on my on-prem runner"
      - uses: actions/checkout@v4
      #- name: Setup .NET
        #uses: actions/setup-dotnet@v4
        #with:
        #  dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      #- name: Test
      #  run: dotnet test --no-build --verbosity normal
      - name: Deploy locally
        run: |
          Copy-Item -Path "./publish/*" -Destination "D:\Websites\GitHubActionsOnPremRazorPages" -Recurse -Force
          Restart-WebAppPool "GitHubActionsOnPremRazorPages"

